@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&family=Signika:wght@300;500&display=swap');
* {
  box-sizing: border-box;
}



body {
  background-color: #6fc3d8;
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  color: black;
}
.container {
  border-radius: 50px;
  border-radius: 45px;
background: #6fc3d8;
border-radius: 45px;
background: #6fc3d8;
box-shadow:  -10px -10px 20px #4f8a99, 
             10px 10px 20px #8ffcff;
  width: 400px;
}

h2, h3 {
  text-align: center;
  margin: 10 0 20px;
  
}


.form {
  padding: 30px 40px;
}

.form-control input {
  border-radius: 50px;
  border: 2px solid #6fc3d8;
  border-radius: 45px;
  border-radius: 45px;
background: #6fc3d8;
box-shadow:  -10px -10px 20px #4f8a99, 
             10px 10px 20px #8ffcff;
  border-radius: 18px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: black;
}

.form-control select {
  border: 2px solid #6fc3d8;
  border-radius: 45px;

  border-radius: 45px;
  background: #6fc3d8;
  box-shadow:  -10px -10px 20px #4f8a99, 
             10px 10px 20px #8ffcff;
  border-radius: 18px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: black;
}
.form button {
  cursor: pointer;
  border-radius: 35px;
  border: 2px solid #6fc3d8;
  border-radius: 45px;
  border-radius: 45px;
  background: #6fc3d8;
  box-shadow:  -10px -10px 20px #4f8a99, 
               10px 10px 20px #8ffcff;
  display: block;
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: bold;
}
.form button:hover {
  background-color: #4f8a99;
}
.form button:active {
  background-color: #4f8a99;
  border-radius: 45px;
background: #6fc3d8;
box-shadow:  -10px -10px 20px #4f8a99, 
             10px 10px 20px #8ffcff;
  transform: translateY(4px);
}
.result-container{
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  font-family: 'Signika', sans-serif;
  border-radius: 50px;
  border: 2px solid #6fc3d8;
  border-radius: 45px;
  border-radius: 45px;
background: #6fc3d8;
box-shadow:  -10px -10px 20px #4f8a99, 
             10px 10px 20px #8ffcff;
  border-radius: 18px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
}
select:focus, input:focus, button:focus {
  outline: 0;
}

.text-center{
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
  display: none;
}

@media(max-width: 60px) {
  .form {
    width: 200px;
  }
}

.form-control i{
  border-radius: 117px;
background: linear-gradient(225deg, #64b0c2, #77d1e7);
box-shadow:  -8px 8px 16px #2c4e56, 
             8px -8px 16px #b2ffff;
}