@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}



body {
  background-color:#ea891a;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.container {
  border-radius: 50px;
background: linear-gradient(315deg, #fa931c, #d37b17);
box-shadow:  -20px -20px 27px #a46012, 
             20px 20px 27px #ffb222;
  width: 400px;
}

h2, h3 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
}

.form-control input {
  border-radius: 50px;
  border: 2px solid #ea891a;
background: linear-gradient(315deg, #fa931c, #d37b17);
box-shadow:  -20px -20px 27px #a46012, 
            20px 20px 27px #ffb222;
  border-radius: 18px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: black;
}

.form-control select {
  border: 2px solid #ea891a;
  border-radius: 50px;
background: linear-gradient(315deg, #fa931c, #d37b17);
box-shadow:  -20px -20px 27px #a46012, 
             20px 20px 27px #ffb222;
  border-radius: 18px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: black;
}
.form button {
  cursor: pointer;
  border-radius: 35px;
  border: 2px solid #ea891a;
  border-radius: 50px;
  background: linear-gradient(315deg, #fa931c, #d37b17);
  box-shadow:  -20px -20px 27px #a46012, 
              20px 20px 27px #ffb222;
  display: block;
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.form button:hover {
  background-color: #a46012;
}
.form button:active {
  background-color: #a46012;
  box-shadow:  -20px -20px 27px #a46012, 
  20px 20px 27px #ffb222;
  transform: translateY(4px);
}
.result-container{
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  border-radius: 50px;
  border: 2px solid #ea891a;
  background: linear-gradient(315deg, #fa931c, #d37b17);
  box-shadow:  -20px -20px 27px #a46012, 
            20px 20px 27px #ffb222;
  border-radius: 18px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
}
select:focus, input:focus, button:focus {
  outline: 0;
}

.text-center{
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
  display: none;
}

@media(max-width: 60px) {
  .form {
    width: 200px;
  }
}